APP_NAME=Enterprise AI Platform
APP_VERSION=1.0.0
DEBUG=True

DATABASE_URL=sqlite:///./enterprise.db

SECRET_KEY=change-this-secret-key

OLLAMA_MODEL=llama3.2

CHROMA_DB=app/chroma_db

GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE